/* Add CSS Styling */

.odd-elements {
    background-color: #ffc0cb;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second-element {
    color: #3a83c8;
    font-size: 36px;
}

.odd-elements.third-element {
    font-size: 24px;
}

#fourth-element {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}