body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 24px 16px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 0px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
}

.button-container {
  margin-top: 12px;
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  margin: 0px auto;
}